<html>
    <style>
        table, th, td {
            border: 1px solid #cccccc;
            border-collapse: collapse;
        }

        td {
            padding: 5px;
        }

        body {
            font-family: "Arial";
        }
    </style>

    <body>
        <table>
            <tr>
                <td>Completed Time</td>
                <td>Processed Time</td>
                <td>Requested Time</td>
                <td>Processing (s)</td>
                <td>Benchmark</td>
                <td>Spec</td>
                <td>Status Code</td>
                <td>Proved</td>
                <td>Output URL</td>
                <td>Error URL</td>
            </tr>
        {{#each this}}
            <tr>
                <td>{{completed_dt}}</td>
                <td>{{processed_dt}}</td>
                <td>{{request_dt}}</td>
                <td>{{processing_secs}}</td>
                <td>{{benchmark_name}}</td>
                <td>{{spec_name}}</td>
                <td>{{status_code}}</td>
                <td bgcolor="{{proved_color}}">{{proved}}</span></td>
                <td><a href="{{out_url}}">stdout</a></td>
                <td><a href="{{err_url}}">stderr</a></td>
            </tr>
        {{/each}}
        </table>
    </body>
</html>